.calendarSelect-warp{
	width: 476px;
	height: auto;
	border: 1px solid #e6e6e6;
	margin: 0 auto;
}
.calendarSelect-head{
	width: 100%;
	height: 66px;
	background-color: #dff2f4;
}
.calendarSelect-year{
	width: 100px;
	height: 25px;
	background-color: #fff;
	float: left;
	margin-top: 21px;
	margin-left: 30px;
	position:relative;
}
.calendarSelect-year-show{
	font-family: "微软雅黑";
	line-height: 25px;
	text-align: center;
	color: #686868;
	width: 100px;
	height: 25px;
	display: inline-block;
}
.calendarSelect-year-ul{
	width: 100px;
	height:264px;
	background-color: #fff;
	display: none;
	color: #686868;
	font-size: 12px;
	font-family: "微软雅黑";
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 25px;
	overflow: auto;
	overflow-x:hidden;
}
.calendarSelect-year-ul li{
	width: 100px;
	line-height: 22px;
	text-align: center;
	color: #686868;
	font-size: 12px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.calendarSelect-year-ul li:hover{
	background-color:#dff2f4;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	font-family:  "微软雅黑";
}
.calendarSelect-month,.calendarSelect-time{
	width: 100px;
	height: 25px;
	background-color: #fff;
	float: left;
	margin-top: 21px;
	margin-left:11px
}
.calendarSelect-month li{
	display: inline-block;
	float: left;
}
.calendarSelect-month-li{
	width: 24px;
	height: 25px;
	cursor: pointer;
}
.calendarSelect-month-next{
	background: url(../image/left.png) no-repeat center;
}
.calendarSelect-month-up{
	background: url(../image/right.png) no-repeat center;
}
.calendarSelect-month-number{
	width: 52px;
	position: relative;
}
.calendarSelect-month-show{
	width: 52px;
	display: inline-block;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 25px;
	text-align: center;
	color: #686868;
}
.calendarSelect-month-ul{
	width:100px;
	height:auto;
	text-align: center;
	position: absolute;
	/*opacity: 0;*/
	left:-24px;
	top:25px;
	background-color: #fff;
	display: none;
}
.calendarSelect-month-ul li{
	width:100%;
	line-height:22px;
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑";
}
.calendarSelect-month-ul li:hover{
	background-color:#dff2f4;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	font-family:  "微软雅黑";
}
.calendarSelect-time li{
	width: 33px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑";
	display: inline-block;
	float: left;
}
.calendarSelect-back{
	width: 75px;
	height: 25px;
	float: left;
	margin-top: 21px;
	margin-left: 11px;
	font-size: 14px;
	font-family:"微软雅黑";
	cursor: pointer;
	color: #808080;
	line-height: 25px;
	text-align: center;
	background-color: #fff;
}
.calendarSelect-back:hover{
	color: #fff;
	background-color:#fd5b5b;
}
.calendarSelect-week{
	width: 476px;
	border-bottom:1px solid #e6e6e6; 
}
.calendarSelect-week li{
	width:68px;
	display: inline-block;
	float: left;
	line-height: 43px;
	font-size: 14px;
	font-family: "宋体,微软雅黑";
	font-weight: bold;
	color: #424242;
	text-align: center; 
}
.calendarSelect-week li.calendarSelect-week-color{
	color:#fd5b5b;
}
.calendarSelect-everyData{
	width: 476px;
}
.calendarSelect-everyData li{
	width:68px;
	display: inline-block;
	float: left;
	border-bottom:1px solid #e6e6e6;
	text-align: center;  
}
.calendarSelect-everyData li span{
	width:51px;
	display: inline-block;
	line-height: 51px;
	font-size: 14px;
	font-family: "宋体,微软雅黑";
	font-weight: bold;
	color: #424242;
	text-align: center;
	cursor: pointer;
}
.calendarSelect-everyData-add-li{
	/*width:68px;
	display: inline-block;
	float: left;
	border-bottom:1px solid #e6e6e6;
	text-align: center;*/
}
.calendarSelect-everyData span.calendarSelect-everyData-add-span{
	width:51px;
	display: inline-block;
	line-height: 51px;
	font-size: 14px;
	font-family: "宋体,微软雅黑";
	font-weight: bold;
	color:#ccc;
	text-align: center;
	cursor: pointer;
}